<div class="mt-4">

    {{#if (isdefined isCreate)}}
        <h3 class="text-sucess">Tạo thành công</h3>
    {{else if (isdefined isCreate)}}
        <h3 class="text-error">Đã xảy ra lỗi</h3>
    {{/if}}
    <div class="row">
        {{!-- Form create new product --}}
        <form method="POST" action='/products/store' class="col-md-6">
            <legend>Thêm khóa học</legend>
            <div class="form-group">
                <label for="name">Tên sản phẩm</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sản phẩm">
            </div>
            <div class="form-group">
                <label for="name">Giá sản phẩm</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Nhập giá sản phẩm">
            </div>
            <div class="form-group">
                <label for="name">Giá trị dinh dưỡng</label>
                <input type="number" class="form-control" id="value" name="value" placeholder="Nhập giá trị dinh dưỡng sản phẩm">
            </div>
            <div class="form-group">
                <label for="desription" >Mô tả khóa học</label>
                <textarea type="text" class="form-control" id="description" name="description"  rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Chọn ảnh</label>
                <input type="file" class="form-control" id="image" name="image" placeholder="Chọn ảnh">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

</div>