html {
  font-size: 100%; }

body {
  font-size: 1rem !important;
  line-height: 1rem !important; }

.text-primary {
  color: #5a5a5a !important; }

.text-sucess {
  color: #17f717 !important; }

.text-error {
  color: #f71717 !important; }

.text-line-clamp--3 {
  display: -webkit-box;
  min-height: 3.2rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem; }

.app {
  background-color: #fdfdfd; }
  .app .container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) -2px 2px 5px; }
    .app .container .product-info-name {
      color: #5a5a5a;
      font-size: 1.75rem;
      margin: 0;
      letter-spacing: 1.5px; }
    .app .container .product-info-price {
      display: block;
      color: #cf1919;
      font-size: 1.25rem;
      letter-spacing: 1.5px;
      margin-top: 0.625rem; }
    .app .container .product-info h6 {
      color: #0a0a0a;
      font-size: 1rem;
      margin-top: 0.625rem; }
    .app .container .product-info p {
      color: #0a0a0a;
      letter-spacing: 1.4px;
      margin-top: 0.625rem;
      min-height: 4rem; }
    .app .container .product-info .btn {
      margin-top: 0.625rem; }
